@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    margin-bottom: 30px;
}
#d1{
    width: 1400px;
    /* border: 2px solid; */
    margin: auto;
}

a{ 
    text-decoration: none;
    color: #3f4046;
    margin: 20px;
    font-size: 13px;
    font-weight: 700;
    
}
span{
    font-size: 10px;
}
input{
    border: 2px solid rgb(230, 226, 226);
    border-radius: 5px;
    padding: 10px;
}
select{
    border: 2px solid rgb(220, 215, 215);
    border-radius: 5px;
    padding: 10px 10px;
    

}